@font-face {
    font-family: 'ds-digitalnormal';
    src: url('assets/fonts/ds-digi-webfont.woff2') format('woff2'),
    url('assets/fonts/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('assets/fonts/YouSheBiaoTiHei.woff2') format('woff2'),
    url('assets/fonts/YouSheBiaoTiHei.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ds-font {
    font-family: ds-digitalnormal;
}

.container {
    height: calc(100vh - 30px);
    width: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

body {
    user-select: none;
}

.rmui .card-body {
    height: 100%;
    overflow: auto;
}

.rmui .ant-card-small .ant-card-body {
    height: calc(100% - 28px);
}

.rmui .background-color {
    background-color: var(--ant-color-bg-layout);
}

.rmui .solid-color {
    background-color: var(--ant-color-bg-container);
}

.rmui .card-body::-webkit-scrollbar {
    width: 4px;
}

.rmui .card-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--ant-color-text-tertiary);
}

.rmui .card-body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--ant-color-text-quaternary);
}

.rmui #coordinateDisplay {
    background-color: var(--ant-color-bg-layout);
    border-radius: 5px;
    color: var(--ant-color-text);
    padding: 5px;
    margin: 10px 2px 10px 10px;
    pointer-events: none;
    position: absolute;
}

.rmui .panel-resize-handle {
    background-color: transparent;
    border-radius: 2px;
    margin: 3px;
}

.rmui .panel-resize-handle[data-resize-handle-active] {
    background-color: var(--ant-color-text-quaternary);
}
