@font-face {
    font-family: 'ds-digitalnormal';
    src: url('/ds-digi-webfont.woff2') format('woff2'),
    url('/ds-digi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.ds-font {
    font-family: ds-digitalnormal;
}
